
<div class="body">
    <div class="bodyContent">
        <div class="top">
            <img src="https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg" alt="lizard" class="titleImg">
        </div>
        <div class="bottom">
            <h1 class="title">Lizard</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam earum dolorem ea dolorum sapiente ullam atque, dignissimos sunt fugiat dolore blanditiis porro hic, repellendus reiciendis aliquid vero vel nemo cumque!</p>
        </div>
    </div>
</div>