.recipeList {
  width: 40vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(154, 154, 153, 0.47);
  margin-bottom: 10px !important;
}
.detailedPage {
  width: 80vw;
  margin: auto;
  padding: 20px;
}
.recipeTexts {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border: 2px dotted gray;
  padding: 10px;
  border-radius: 7px;
}
.recipeTexts > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.imageDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}
.recipeImg {
  width: 60%;
}
.recipeTexts > div > ul {
  width: 100%;
}
.recipeTexts > div > ul > li {
  width: 100%;
  word-break: break-all;
}
.titleDiv {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.backButtonDiv {
  display: flex;
  justify-content: end;
  width: 40vw;
  margin: auto;
  margin-bottom: 10px;
}
.titleDiv > h1 {
  word-break: break-all;
  hyphens: auto;
  width: fit-content;
}

/* Media Query */
@media all and (max-width: 1300px) {
  .detailedPage {
    width: 60vw;
    margin: auto;
    padding: 20px;
  }
  .recipeList {
    width: 100%;
  }
  .recipeTexts {
    width: 100%;
  }
  .recipeImg {
    width: 80%;
  }
  .backButtonDiv {
    width: 100%;
  }
}
@media all and (max-width: 1020px) {
  .detailedPage {
    width: 85vw;
    margin: auto;
    padding: 20px;
  }
  .recipeList {
    width: 100%;
  }
  .recipeTexts {
    width: 100%;
  }
  .recipeImg {
    width: 80%;
  }
  .backButtonDiv {
    width: 100%;
  }
}
@media all and (max-width: 770px) {
  .detailedPage {
    width: 95vw;
    margin: auto;
    padding: 20px;
  }
  .recipeList {
    width: 100%;
  }
  .recipeTexts {
    width: 100%;
  }
  .recipeImg {
    width: 80%;
  }
  .backButtonDiv {
    width: 100%;
  }
}
@media all and (max-width: 480px) {
  .detailedPage {
    width: 95vw;
    margin: auto;
    padding: 20px;
  }
  .recipeList {
    width: 100%;
  }
  .recipeTexts {
    width: 100%;
  }
  .recipeImg {
    width: 80%;
  }
  .backButtonDiv {
    width: 100%;
  }
}
