<div class="headerContainer">
  <div class="title">
    <h1>Recipe App</h1>
  </div>
  <div class="search">
    <input
      type="text"
      placeholder="Search for recipes"
      class="searchBar"
      [(ngModel)]="searchText"
      (input)="onSearchTextChange()"
    />
    <mat-icon class="searchIcon">search</mat-icon>
  </div>
  <div class="search smallSearch">
    <input
      type="text"
      placeholder="Search"
      class="searchBar smallSearchBar"
      [(ngModel)]="searchText"
      (input)="onSearchTextChange()"
    />
    <mat-icon class="searchIcon">search</mat-icon>
  </div>
  <div class="favouritesDiv" routerLink="/favourites">
    <h1 style="font-size: 23px;font-weight: 400;" id="favourites">Favourites</h1>
    <label for="favourites">
    <img src="../../assets/images/favourites.png" alt="Favourites icon">
  </label>
  </div>
  <div>
    <button class="addRecipe" (click)="addRecipe()">Add Recipe</button>
  </div>
</div>
