* {
  margin: 0;
  padding: 0;
}
.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid green; */
}
.headerContainer > .title {
  height: fit-content;
}
.title > h1 {
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  /* border: 2px solid red; */
}
.search {
  position: relative;
}
.searchBar {
  padding: 10px;
  width: 22vw;
  border-radius: 7px;
  outline: none;
  border: 1px solid gray;
}
.searchBar::placeholder {
  font-size: 15px;
  color: rgb(101, 101, 101);
}
.search > .searchIcon {
  position: absolute;
  top: 12px;
  right: 4px;
  color: rgb(101, 101, 101);
}
.addRecipe {
  background-color: green;
  padding: 10px;
  color: white;
  border-radius: 7px;
  font-size: 15px;
  outline: none;
  border: none;
  cursor: pointer;
}
.smallSearch {
  display: none;
}
/* media Queries */
@media all and (max-width: 770px) {
  .search {
    display: block;
  }
  .smallSearch {
    display: none;
  }
  .searchBar {
    width: 33vw;
  }
}
@media all and (max-width: 480px) {
  .title > h1 {
    font-size: 20px;
  }
  .addRecipe {
    font-size: 15px;
  }
  .searchBar {
    width: 27vw;
  }
  .search {
    display: none;
  }
  .smallSearch {
    display: block;
  }
  .search > .searchIcon {
    top: 12px;
    right: 4px;
    color: rgb(101, 101, 101);
  }
}
