<div class="main">
    <div class="header">
        <!-- <div class="headerContainer">
    <div class="title">
        <h1>Recipe App</h1>
    </div>
    <div class="search">
        <input type="text" placeholder="Search for recipes" class="searchBar">
        <mat-icon class="searchIcon">search</mat-icon>
    </div>
    <div>
        <button class="addRecipe" (click)="changeModalDisplay()">Add Recipe</button>
    </div>
</div> -->
<app-header-comp (addRecipeClicked)="changeModalDisplay()"></app-header-comp>
    </div>
    
    <div class="body">
        <div class="modal" id="exampleModal" #exampleModal tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add New Recipe</h5>
                  <button type="button" class="btn-close btn-danger" data-bs-dismiss="modal" #close aria-label="Close" (click)="onCloseClick()"></button>
                </div>
                <div class="modal-body">
                    <div class="inputs">
                        <div class="imageUrlDiv">
                            <input type="text" placeholder="Image Url" [(ngModel)]="detailsObj.imageUrl">
                        </div>
                        <div class="titleDiv" style="margin: auto;width: fit-content;margin-bottom: 10px;">
                            <input type="text" placeholder="Title" name="title" [(ngModel)]="detailsObj.title" style="width: 220px;padding: 10px;outline: none;border-radius: 7px;border: 1px solid gray;">
                        </div>
                        <div class="left-right">
                            <div class="left">
                                <textarea name="description" id="description" cols="22" rows="5" placeholder="Description" [(ngModel)]="detailsObj.description"></textarea>
                                <textarea name="ingredients" id="ingredients" cols="22" rows="5" placeholder="Ingredients" [(ngModel)]="detailsObj.ingredients"></textarea>
                            </div>
                            <div class="right">
                                <textarea name="instructions" id="instructions" cols="22" rows="5" placeholder="Instructions" [(ngModel)]="detailsObj.instructions"></textarea>
                                <textarea name="nutrition" id="nutrition" cols="22" rows="5" placeholder="Nutritional Facts" [(ngModel)]="detailsObj.nutrition"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal" #close (click)="onCloseClick()" >Close</button>
                  @if(detailsObj.id==0){
                    <button type="button" class="btn btn-success" (click)="addRecipe()">Add</button>
                }
                @else{
                      <button type="button" class="btn btn-primary" (click)="updateRecipe()">Update</button>
                  }
                  
                </div>
              </div>
            </div>
          </div>
          <div class="body">
            @if(recipeList.length!==0){
                <div class="bodyContent" *ngFor="let item of recipeList; let i = index">
                    <div class="top">
                        <img src="{{item.imageUrl}}" alt="lizard" class="titleImg">
                    </div>
                    <div class="bottom">
                        <h1 class="title" style="font-size: 22px; font-weight: bold;">{{item.title}}</h1>
                        <p>{{item.description}}</p>
                        <div class="buttons">
                            <button class="edit btn btn-primary" (click)="onEdit(item)">Edit</button>
                            <button class="delete btn btn-danger" (click)="onDelete(item)">Delete</button>
                        </div>
                    </div>
                </div>
            }
            @else{
                <div class="noRecipe">
                    <p>No Recipe Found. Create New Recipe.</p>
                </div>
            }
        </div>
    </div>
    
</div>


<!-- <router-outlet></router-outlet> -->
